params {
    
    params.min_aln = 0
    params.min_cov = 0
    params.min_qscore = 30
    params.publish_dir_mode = 'copy'
    // mode
    params.mode = 'default'    
    // tools to use
    params.run_kraken = true
    params.run_iqtree = true
    params.kraken2_db = "$KRAKEN2_DEFAULT_DB"
    params.assembler = "spades"
    params.mask_string = ""
    

}

profiles {
   name_your_profile {
      process.executor = 'slurm' // Change this to your desired executor ie 'slurm'
      // add in executor specific parameters here
      process.memory = '10GB'
      // recommended to leave as is, they define resources for each process and have been chosen for each tool
      withLabel: process_low {
         // collation steps
             cpus= 2
          }
        withLabel: process_medium {
         // snippy, abritamr
           cpus= 4
        }
        withLabel: process_upper_medium {
         //assemblies
            cpus= 8
        }
        withLabel: process_high {
         // kraken
           cpus= 16
        }
    }
 }