params {
    // snippy params
    minmap = "60"
    mincov = "10"
    basequal = "13"
    minqual = "100"
    minfrac = "0"
    
    // mode
    mode = 'default' 
    // tools to use
    run_kraken = true
    run_iqtree = true
    kraken2_db = "$KRAKEN2_DEFAULT_DB"
    assembler = "spades"
    mask_string = ""
    mlst_exclude = ""

}



profiles {
   name_your_profile {
      process.executor = 'slurm' // Change this to your desired executor ie 'slurm'
      // add in executor specific parameters here
      process.memory = '10GB'
      // recommended to leave as is, they define resources for each process and have been chosen for each tool
      withLabel: process_low {
         // collation steps
             cpus= 2
          }
        withLabel: process_medium {
         // snippy, abritamr
           cpus= 4
        }
        withLabel: process_upper_medium {
         //assemblies
            cpus= 8
        }
        withLabel: process_high {
         // kraken
           cpus= 16
        }
    }
 }