include bohra/tests/*
include bohra/*.nf
include bohra/nextflow.config
include bohra/modules/*
include bohra/modules/*/*
include bohra/modules/*/*/*
include bohra/workflows/*
include bohra/templates/*
include bohra/bohra_install.sh

