
params {
    // snippy params
    minmap = "60"
    mincov = "10"
    basequal = "13"
    minqual = "100"
    minfrac = "0"
    
    // mode
    mode = 'default' 
    // tools to use
    run_kraken = true
    run_iqtree = true
    kraken2_db = "$KRAKEN2_DEFAULT_DB"
    assembler = "spades"
    mask_string = ""
    mlst_exclude = ""

}

conda {
   useMamba = true
}

profiles {

   lcl {
      params.publish_dir_mode = 'copy'
      executor {
         name = 'local'
         cpus = 64
      }
      process {
      
        withLabel: process_low {
             cpus= 1
          }
        withLabel: process_medium {
           cpus= 4
        }
        withLabel: process_high {
           cpus= 8
        }
      }
    }
   mdu_binfie {
      params.publish_dir_mode = 'link'
      params.mlst_exclude = 'ecoli,abaumannii'
      params.conda_path = '/home/mdu/conda/envs'
      executor {
         name = 'local'
         cpus = 256
      }
      process {
      
        withLabel: process_low {
             cpus= 1
          }
        withLabel: process_medium {
           cpus= 4
        }
        withLabel: process_high {
           cpus= 8
        }
      }
    }
    apg_binfie {
      params.publish_dir_mode = 'link'
      params.mlst_exclude = 'ecoli,abaumannii'
      params.conda_path = '/opt/conda/envs'
      executor {
         name = 'local'
         cpus = 100
      }
      process {
      
        withLabel: process_low {
             cpus= 1
          }
        withLabel: process_medium {
           cpus= 4
        }
        withLabel: process_high {
           cpus= 8
        }
      }
    }
   mdu_research {
      params.publish_dir_mode = 'link'
      executor {
         name = 'local'
         cpus = 72
      }
      process {
      
        withLabel: process_low {
             cpus= 1
          }
        withLabel: process_medium {
           cpus= 4
        }
        withLabel: process_high {
           cpus= 8
        }
      }
    }
 }