
params {
    // snippy params
    minmap = "60"
    mincov = "10"
    basequal = "13"
    minqual = "100"
    minfrac = "0"
    // ska params
    ska_minfreq = "0.9"
    ska_alnargs = ""
    ska2_kszise = "31"
    // tools to use
    use_kraken2 = false
    kraken2_db = ""
    assembler = "shovill"
    mask = "no_mask"
    mlst_exclude = ""
    mobsuite_db = "no_db"
    gubbins = false
    cluster_threshold = '10'
    pangenome_groups = 'cluster'
    cluster_method = 'single'
    annot_cols = ''
    // references
    abritamr_ref = "Publication - https://doi.org/10.1038/s41467-022-35713-4 Tool - https://zenodo.org/records/12514579"
    shovill_ref = "Tool - https://github.com/tseemann/shovill"
    spades_ref = "Publication - https://doi.org/10.1002/cpbi.102, Tool - https://ablab.github.io/spades/"
    skesa_ref = "Publication - https://doi.org/10.1186/s13059-018-1540-z Tool - https://github.com/ncbi/SKESA"
    core_snp_filter_ref = "Publication - https://doi.org/10.1099/mgen.0.001346 Tool - https://github.com/rrwick/Core-SNP-filter"
    csvtk_ref = "Tool - https://github.com/shenwei356/csvtk"
    ectyper_ref = "Publication - https://doi.org/10.1099/mgen.0.000728 Tool - https://github.com/phac-nml/ecoli_serotyping"
    emmtyper_ref = "Tool - https://github.com/MDU-PHL/emmtyper"
    gubbins_ref = "Publication - https://doi.org/10.1093/nar/gku1196 Tool - https://github.com/nickjcroucher/gubbins"
    iqtree_ref = "Publication - https://doi.org/10.1093/molbev/msaa015 Tool - https://iqtree.github.io"
    gotree_ref = "Tool - https://github.com/evolbioinfo/gotree"
    kleborate_ref = "Publication - https://doi.org/10.1038/s41467-021-24448-3 Tool - https://github.com/klebgenomics/Kleborate"
    kmc_ref = "Publication - https://doi.org/10.1093/bioinformatics/btx304 Tool - https://github.com/refresh-bio/KMC"
    kraken2_ref = "Publication - https://doi.org/10.1186/s13059-019-1891-0 Tool - https://github.com/DerrickWood/kraken2"
    lissero_ref = "Tool - https://github.com/MDU-PHL/LisSero"
    mash_ref  = "Publication - https://doi.org/10.1186/s13059-016-0997-x Tool - https://github.com/marbl/Mash"
    meningtype_ref = "Tool - https://github.com/MDU-PHL/meningotype"
    mlst_ref = "Tool - https://github.com/tseemann/mlst"
    mobsuite_ref = "Publication - https://doi.org/10.1099/mgen.0.000435 Tool - https://github.com/phac-nml/mob-suite"
    ngmaster_ref = "Tool - https://github.com/MDU-PHL/ngmaster"
    panaroo_ref = "Publication - https://doi.org/10.1186/s13059-020-02090-4 Tool - https://gthlab.au/panaroo/#/gettingstarted/quickstart"
    prokka_ref = "Publication - https://doi.org/10.1093/bioinformatics/btu153 Tool - https://github.com/tseemann/prokka"
    quicktree_ref = "Tool - https://github.com/khowe/quicktree"
    seqkit_ref = "Publication - https://doi.org/10.1002/imt2.191 Tool - https://bioinf.shenwei.me/seqkit/"
    seqtk_ref = "Tool - https://github.com/lh3/seqtk"
    shigapass_ref = "Publication - https://doi.org/10.1099/mgen.0.000961 Tool - https://github.com/imanyass/ShigaPass/"
    ska_ref = "Publication - https://www.genome.org/cgi/doi/10.1101/gr.279449.124 Tool - https://github.com/bacpop/ska.rust"
    snippy_ref = "Tool - https://github.com/tseemann/snippy"
    snpdists_ref = "Tool - https://github.com/tseemann/snp-dists"
    sonneitype_ref = "Publication - https://doi.org/10.1038/s41467-021-22700-4 Tool - https://github.com/katholt/sonneityping"
    stype_ref = "Tool - https://github.com/MDU-PHL/salmonella_typing"
    tbtamr_ref = "Publication - https://doi.org/10.1101/2023.11.04.565651 Tool - https://github.com/MDU-PHL/tbtamr"
    veryfasttree_ref = "Publication - https://doi.org/10.1093/gigascience/giae055 Tool - https://github.com/citiususc/veryfasttree"
    fastp_ref = "Publication - https://doi.org/10.1002/imt2.107 Tool - https://github.com/OpenGene/fastp"

   
    
}

conda {
   useMamba = true
}
