params {
    
    params.min_aln = 0
    params.min_cov = 0
    params.min_qscore = 30
    
    // mode
    params.mode = 'default' 
    // tools to use
    params.run_kraken = true
    params.run_iqtree = true
    params.kraken2_db = "$KRAKEN2_DEFAULT_DB"
    params.assembler = "spades"
    params.mask_string = ""
    

}


profiles {

   lcl {
      params.publish_dir_mode = 'copy'
      executor {
         name = 'local'
         cpus = 64
      }
      process {
      
        withLabel: process_low {
             cpus= 1
          }
        withLabel: process_medium {
           cpus= 4
        }
        withLabel: process_high {
           cpus= 8
        }
      }
    }
   mdu_binfie {
      params.publish_dir_mode = 'link'
      executor {
         name = 'local'
         cpus = 256
      }
      process {
      
        withLabel: process_low {
             cpus= 1
          }
        withLabel: process_medium {
           cpus= 4
        }
        withLabel: process_high {
           cpus= 8
        }
      }
    }
   mdu_research {
      params.publish_dir_mode = 'link'
      executor {
         name = 'local'
         cpus = 72
      }
      process {
      
        withLabel: process_low {
             cpus= 1
          }
        withLabel: process_medium {
           cpus= 4
        }
        withLabel: process_high {
           cpus= 8
        }
      }
    }
 }